<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>

        <h1>Your rate</h1>

        <h3>Weight:</h3>
        <p><%=weight%> oz</p>
        <h3>Type:</h3>
        <p><%=type%></p>

        <h3>Rate:</h3>
        <p>$<%=rate%></p>

    </body>
</html>
